.game-card {
    margin: 10px 15px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    background-color: rgba(230, 230, 238, 0.2);
    border-radius: 3%;
}