.search-games {
    font-family: 'Freckle Face', cursive;
    font-size: 2.5vh;
    padding: 10px;

    input {
        margin-left: 12px;
        background: transparent;
        border: 2px solid white;
        color: white;
        border-radius: 2%;
        width: 60%;
        height: 30px;
    }
}

